# Build
**/bin/
**/obj/

# IDE
**/.vs/
**/.vscode/

# Node modules
**/node_modules/

#Git
.git

# Additionally
uploads/*
uploads/images/*
uploads/text/*
!uploads/.gitkeep
!uploads/images/.gitkeep
!uploads/text/.gitkeep
.env
**/.env